@use "./styles/vars" as v;

.app {
  min-height: 100vh;

  &--dark {
    background-color: #222222;
  }
}

.header {
  background-color: v.$color-filling;
  padding: 1rem;

  &-title {
    font-size: 2rem;
    text-align: center;
  }
}

.main {
  padding: 1rem;
}

.darkmode {
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
}

a,
a:visited {
  color: rgb(26, 23, 23);
  text-decoration: none;
}

a.active {
  color: rgb(102, 102, 207);
}
